.logincard{
    width: 40%;
    box-shadow: 3px 1px 7px 1px #d6d5d2;
    margin:auto auto;
    padding: 20px 0;
    /* height: 70%; */
}

.loginlogo{
    margin: auto;
    text-align: center;
    padding: 10px;
}

.logotitle{
    text-align: center;
    font-size: 30px;
    color: #302C2C;
}

.inputlabel{
   margin: 70px 100px 100px 100px;
}

.label{
    padding-top: 30px;
}

.loginbtn{
    padding: 70px 15px 0px 0px;
}

.loginPage{
    display: flex;
    flex: 1;
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1400px) and (-webkit-min-device-pixel-ratio: 1) {
    .logotitle {
        font-size: 24px;
    }
}
