.button {
  height: 100%;
  width: 100%;
  border: 1px solid #edeceb;
  text-align: center;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.text {
  font-size: 20px;
}

.primary {
  color: white;
  background-color: #539c64;
}

.secondary {
  color: #302c2c;
  background-color: #edeceb;
}

.alert {
  color: #ffffff;
  background-color: #ff2400;
}

.disabled {
  color: #302c2c;
  background-color: #edeceb;
  cursor: not-allowed;
}
