.paginationContainer {
  font-weight: 500;
  letter-spacing: 1;
  text-align: end;
}
.paginationInner {
  display: flex;
  flex: 4;
  justify-content: end;
  margin-top: 5px;
  align-items: center;
}
.paginationControls {
  background: transparent;
  border: none;
  outline: none;
  color: #539c64;
  padding: 0 10px;
  cursor: pointer;
}

.paginationControls:disabled {
  color: #919191;
  cursor: not-allowed;
}

.btnControls {
  background: transparent;
  border: none;
  outline: none;
  color: #539c64;
  padding: 0 10px;
  cursor: pointer;
}

.btnControls:disabled {
  color: #919191;
  cursor: not-allowed;
}

.tablewrapper {
  margin: 10px;
  width: 100%;
  padding: 10px;
  flex: 4;
}

.tableProcurementListData {
  margin: 10px;
  padding: 10px 10px 10px 30px;
  flex: 2;
}

.container {
  display: flex;
  margin: 10px;
  padding: 10px;
}

.innerContainer {
  flex: 3;
}

.paginationContainerFilter {
  font-weight: 500;
  letter-spacing: 1;
  text-align: end;
  /* padding: 1rem; */
}

.paginationInnerFilter {
  display: flex;
  flex: 2;
  justify-content: end;
  margin-top: 5px;
  align-items: center;
  top: 300px;
}

.noDataDisplayText {
  color: #539c64;
  text-align: center;
  font-size: 20px;
}

.tableVariants {
  width: 100%;
  color: #539c64;
  font-weight: 300;
}

.addButton {
  border: 1px solid white;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 16px;
  text-align: center;
  background-color: #539c64;
}

.addButton{
  cursor: pointer;
}

.plusIcon {
  font-weight: 500;
  color: white;
  font-weight: 500;
  color: white;
  margin: 3px 0 0 0;
}

.submitBtn{
  padding: 32px 0 0 0;
}

.quantityWrapper{
  display: flex;
  justify-content: space-between;
  margin: 40px 0 0 0;
}

.submitWrapper{
  display: flex;
  justify-content: end;
}

.submitQuantity{
  height: 40px;
}

.tableInput{
  height:30px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #EDECEB;
}

.tableInput:focus{
  border: 1px solid #EDECEB;
}
