.paginationContainer {
  font-weight: 500;
  letter-spacing: 1;
  text-align: end;
}
.paginationInner {
  display: flex;
  flex: 4;
  justify-content: end;
  margin-top: 5px;
  align-items: center;
}
.paginationControls {
  background: transparent;
  border: none;
  outline: none;
  color: #539c64;
  padding: 0 10px;
  cursor: pointer;
}

.paginationControls:disabled {
  color: #919191;
  cursor: not-allowed;
}

.btnControls {
  background: transparent;
  border: none;
  outline: none;
  color: #539c64;
  padding: 0 10px;
  cursor: pointer;
}

.btnControls:disabled {
  color: #919191;
  cursor: not-allowed;
}

.tablewrapper {
  margin: 10px;
  width: 100%;
  padding: 10px;
  flex: 4;
}

.tableProcurementListData {
  margin: 10px;
  /* max-width: 50%; */
  padding: 10px;
  flex: 2;
}

.container{
    display: flex;
    margin: 10px;
    padding: 10px;
}

.innerContainer{
    flex:3
}

.paginationContainerFilter {
  font-weight: 500;
  letter-spacing: 1;
  text-align: end;
  /* padding: 1rem; */
}

.paginationInnerFilter{
  display: flex;
  flex: 2;
  justify-content: end;
  margin-top: 5px;
  align-items: center;
  top:300px
}