.footer{
    box-shadow: 4px 4px 6px 4px #d6d5d2;
    height: 110px;
    width: 100%;
}
.footercontent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.copyright{
    color: #808080;
    font-size: 20px;
    padding-top: 30px;
    margin: 0 0 0 30px;
}

.content{
    padding-top: 30px;
}

.aboutcontent{
    color: #808080;
    font-size: 20px;
    padding-right: 30px;
} 