.cols {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.percent {
  display: flex;
  padding-top: 20px;
  align-items: center;
}
.col {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  /* background-color: #fff; */
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 20px;
  transition: box-shadow 0.3s, filter 0.3s;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  /* height: 80px; */
}
.selectedCard {
  background: #4cd964 !important;
  color: #ffff !important;
  filter: brightness(1.2);
  box-shadow: 0 4px 8px rgba(76, 217, 100, 0.3); /* Adjust the shadow color and intensity */
}

.variants {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.var1 {
  font-size: 20px;
  font-weight: 700;
  color: #4cd964;
}
.cardtit {
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.5;
  color: #4cd964 !important;
  font-size: 20px;
}

.salespr {
  font-weight: 600 !important;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #32325d;
}
.ratiopercent {
  /* color: #2dce89 !important; */
  /* font-size: 0.875rem !important; */
  font-weight: 300;
  line-height: 1.7;
  color: red;
  font-size: 15px;
}
.dater {
  padding-left: 20px;
}
.ranges {
  white-space: nowrap !important;
  font-weight: 300;
  line-height: 1.7;
  color: #ffff !important;
  font-size: 14px !important;
}
.chart {
  position: relative;
  height: 300px;
}
.graphsdataa {
  padding-top: 50px;
}
.shadow {
  border-radius: 12px 12px 12px 12px !important;
  background-color: #ffffff !important;
  box-shadow: 4px 4px 8px 1px #d6d5d2;
}
.ratesicons {
  display: flex;
  align-items: center;
}
.dash {
  color: #000;
}
.selectedCardtit {
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.5;
  color: #ffff !important;
  font-size: 20px;
}
.iconscolor {
  /* color: #ffff !important; */
  fill: #ffff !important;
  /* background: #ffff !important; */
}
.losstext {
  color: red !important ;
}
.inventorycard {
  height: 67px;
}
